# Simple exercises for Basic Data Types in Python

## Numbers

#### 1. asign any number of type integer to the variable "num_1"

In [9]:
num_1 = 4

In [10]:
print(num_1)

4

#### 2. asign any number of type float to the variable "num_2"

In [11]:
num_2 = 2.4

In [12]:
print(num_2)

2.4

#### 3. create variable "total" which is the sum of variables "num_1" and "num_2"

In [13]:
total = num_1 + num_2

In [14]:
print(total)

6.4

#### 4. check the type of variable "total"

In [15]:
type(total)

float

#### 5. assign variable "height" with your height

In [40]:
height = 1.4478

In [41]:
print(height)

1.4478

#### 6. asign variable "mass" with your weight

In [42]:
weight = 40

In [43]:
print(weight)

40

#### 7. create variable "bmi" :
hint: bmi = weight / (height*height)

In [44]:
bmi = weight/(height*height)

#### 8. print value from "bmi" variable

In [45]:
print(bmi)

19.08283287172915

# String

#### 1. Create variable "name" with your first name

In [49]:
name = "Filza"

#### 2. Create variable "surname" with your surname

In [50]:
surname = "Zehra"

#### 3. create variable "name_surname" from variables "name" and "surname" 
hint : use string with white space between variable "name" and "surname"

In [71]:
name_surname =  name +" "+ surname

#### 4. print variable "name_surname"

In [72]:
print(name_surname)

Filza Zehra

#### 5. print first letter from variable "name_surname"

In [73]:
print(name_surname[0])

F

#### 6. print your name (without enmpty space) from variable "name_surname"

In [74]:
name_surname = name+surname

In [75]:
print(name_surname)

FilzaZehra

#### 7. print your surname 10x (use variable surname)

In [80]:
print((surname+ " ")*10)

Zehra Zehra Zehra Zehra Zehra Zehra Zehra Zehra Zehra Zehra

#### 8. create variable greeting with message "Hello my name is " and your name and surname (use "name_surname" variable)

In [85]:
name_surname = name + " " + surname

In [86]:
greeting = "Hello my name is "+" "+name_surname

#### 9. print "message" variable

In [87]:
print(greeting)

Hello my name is  Filza Zehra

## List

#### 1. create empty list with name "empty_list"

In [89]:
empty_list = []

#### 2. create list "heights" with five random values

In [90]:
heights = [1.99,1.44,1.68,1.73,1.77]

#### 3. print heights

In [91]:
print(heights)

[1.99, 1.44, 1.68, 1.73, 1.77]

#### 4. print type of variable "heights"

In [92]:
type(heights)

list

#### 5. print second value from "heights"

In [93]:
heights[2]

1.68

#### 6. assign last three values from "heights" to another list "heights_2"

In [124]:
heights_2 = heights[3],heights[4]

#### 7. print "heights_2"

In [125]:
heights_2

(1.73, 1.77)

#### 8. create variable "list_all" with values from lists "heights" and "heights_2" together

In [126]:
list_all = heights + height_2

#### 9. print "list_all"

In [127]:
print(list_all)

[1.99, 1.44, 1.68, 1.73, 1.77, 1.73, 1.77]

#### 10. print the type of "list_all"

In [128]:
type(list_all)

list

## Tuple

#### 1. create empty tuple with name empty_tuple

In [129]:
empty_tuple = ()

#### 2. try to asign your name on the first position to the variable "empty_tuple" and check the type of the error

In [131]:
empty_tuple[0] = name

TypeError: 'str' object does not support item assignment

#### 3. According to question number 2, what is the main difference between list and tuple?

tuples cannot be modified whereas lists can be modified

## Dictionary

#### 1. create empty dictionary with name "empty_dict"

In [133]:
empty_dict = {}

#### 2. create "heights_dict" dictionary with your name as a key and height as a value

In [134]:
heights_dict = {'name': '1.4478'}

#### 3. asign another name and height to "heights_dict"

In [135]:
heights_dict2 = {'name2': '1.77'}

In [136]:
heights_dict.update(heights_dict2)

#### 4. print "heights_dict" dictionary

In [138]:
heights_dict

{'name': '1.4478', 'name2': '1.77'}

#### 5. print your height from the "heights_dict" dictionary

In [140]:
heights_dict['name']

'1.4478'

#### 6. print all values from "heights_dict" dictionary

In [141]:
list(heights_dict.values())

['1.4478', '1.77']

#### 7. print all keys from "heights_dict" dictionary

In [ ]:
list(heights_dict.keys())