# Simple exercises for control structures in Python
- conditionals
- while loops
- for loops

## FOR loop

In [1]:
heights = [1.82,1.75,1.68,1.76,1.5]

#### 0. Use for loop to print values from "heights" list

In [2]:
for i in heights:
    print(i)

1.82
1.75
1.68
1.76
1.5

#### 1. Use for loop for printing only values bigger than 1.75

In [3]:
for i in heights:
    if i > heights[1]:
        print(i)

1.82
1.76

#### 2. Use for loop for printing all values until you find value 1.68 (included)

In [12]:
heights = [1.82,1.75,1.68,1.76,1.5]

In [13]:
for i in heights:
    print(i)
    if i == heights[2]:
        break
    else:
            continue

1.82
1.75
1.68

#### 3. Modify the previous loop to print all values from `"heights"` without value 1.68

In [17]:
for i in heights:
    if i != heights[2]:
        print(i)

1.82
1.75
1.76
1.5

#### 4. use for loop over to iterate over `"heights"` and print "high" for values bigger than 1.75, "medium" for values between 1.68 and 1.75 and "small" for values lower than 1.68

In [10]:
heights = [1.82,1.75,1.68,1.76,1.5]

In [11]:
for i in heights:
    itr = iter(heights)
    if i > heights[1]:
        print("high")
    elif heights[2] < i > heights[1]:
        print("medium")
    elif i < heights[2]:
        print("small")

high
high
small

## WHILE loop

#### 1. Print out numbers from 0 to 4

In [2]:
sum = 0 
while sum != 5:
    print(sum)
    sum += 1
    continue

0
1
2
3
4

#### 2. use while loop to print out only even numbers lower than 15
hint : use `"%"` modulo operator

In [1]:
n= 0 
while n < 15:
    print(n)
    n += 2
    continue

0
2
4
6
8
10
12
14

#### 3. use while loop to print all numbers lower than 15 but skip first five values

In [2]:
n = 1
while n < 15:
    if n > 5:
        print(n)
    n += 1

6
7
8
9
10
11
12
13
14

## Actors
We have two lists actors and roles which are defined below:

In [ ]:
actors = [
    "Nathan Fillion",
    "Gina Torres",
    "Alan Tudyk",
    "Morena Baccarin",
    "Adam Baldwin",
    "Jewel Staite",
    "Sean Maher",
    "Summer Glau",
    "Ron Glass"
]

roles = [
    "Captain Malcolm Reynolds",
    "Zoe Washburn",
    "Hoban Washburn",
    "Inara Serra",
    "Jayne Cobb",
    "Kaylee Frye",
    "Dr. Simon Tam",
    "River Tam",
    "Derrial Book"
]

We would like to produce a credit reel, by matching each actor with their role in the show. We know that both lists are in the correct order, such that for any number—let's say `n`—we know that `actors[n]` and `roles[n]` match. For example, `actors[3]` gives us "Morena Baccarin," and `roles[3]` gives us "Inara Serra," so we know that Morena Baccarin played Inara Serra in the show. **We want to print out the credits for all of the actors in the list.**

Here's an example of what we want to see when the code runs:

Featuring:<br>
=============<br>
Nathan Fillion as Captain Malcolm Reynolds"<br>
....

In [2]:
actors = [
    "Nathan Fillion",
    "Gina Torres",
    "Alan Tudyk",
    "Morena Baccarin",
    "Adam Baldwin",
    "Jewel Staite",
    "Sean Maher",
    "Summer Glau",
    "Ron Glass"
]

roles = [
    "Captain Malcolm Reynolds",
    "Zoe Washburn",
    "Hoban Washburn",
    "Inara Serra",
    "Jayne Cobb",
    "Kaylee Frye",
    "Dr. Simon Tam",
    "River Tam",
    "Derrial Book"
]

In [3]:
dict = dict(zip(actors,roles))
print(dict)

{'Nathan Fillion': 'Captain Malcolm Reynolds', 'Gina Torres': 'Zoe Washburn', 'Alan Tudyk': 'Hoban Washburn', 'Morena Baccarin': 'Inara Serra', 'Adam Baldwin': 'Jayne Cobb', 'Jewel Staite': 'Kaylee Frye', 'Sean Maher': 'Dr. Simon Tam', 'Summer Glau': 'River Tam', 'Ron Glass': 'Derrial Book'}